<!DOCTYPE html>
<html lang="de">
<head>
    {{HEAD}}
</head>

<body class="bg-dark text-light">

    {{NAVBAR}}

    <div class="container mt-3">

        <!-- Title and Subtitle -->
        <div class="row mb-5">
            <div class="col-12">
                <h1 class="text-warning" id="txt-titel"></h1>
                <p class="text-light" id="txt-subtitel"></p>
            </div>
        </div>

        <!-- Cards Section -->
        <!-- row 1 -->
        <div class="row g-3 mb-3">
            <!-- colum 1 - friendly camp-->
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card h-100 bg-dark text-light border-secondary">
                    <img src="./../assets/images/help/friendlyCamp.png" class="card-img-top" alt="friendly camp">
                    <div class="card-body">
                        <h5 class="card-title text-info" id="h5-camp-title"></h5>
                        <p class="card-text" id="p-camp-text"></p>
                    </div>
                </div>
            </div>

            <!-- colum 2 - enemy -->
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card h-100 bg-dark text-light border-secondary">
                    <img src="./../assets/images/help/enemy.png" class="card-img-top" alt="Enemy">
                    <div class="card-body">
                        <h5 class="card-title text-info" id="h5-enemy-title"></h5>
                        <p class="card-text" id="p-enemy-text"></p>
                    </div>
                </div>
            </div>

            <!-- colum 3 - caht box -->
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card h-100 bg-dark text-light border-secondary">
                    <img src="./../assets/images/help/chatBox.png" class="card-img-top" alt="Chat Box">
                    <div class="card-body">
                        <h5 class="card-title text-info" id="h5-chatbox-title"></h5>
                        <p class="card-text" id="p-chatbox-text"></p>
                    </div>
                </div>
            </div>

            <!-- colum 4 chat box send -->
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card h-100 bg-dark text-light border-secondary">
                    <img src="./../assets/images/help/chatBoxSend.png" class="card-img-top" alt="Chat Box Send">
                    <div class="card-body">
                        <h5 class="card-title text-info" id="h5-chatboxsend-title"></h5>
                        <p class="card-text" id="p-chatboxsend-text"></p>
                    </div>
                </div>
            </div>
            
        </div>

        <!-- row 2 -->
        <div class="row g-3 mb-3"> 

            <!-- colum 1 - controll panel full-->
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card h-100 bg-dark text-light border-secondary">
                    <img src="./../assets/images/help/controlPanellFull.png" class="card-img-top" alt="Controll Panel Full">
                    <div class="card-body">
                        <h5 class="card-title text-info" id="h5-controlpanelfull-title"></h5>
                        <p class="card-text" id="p-controlpanelfull-text"></p>
                    </div>
                </div>
            </div>

            <!-- colum 2 - control weapon -->
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card h-100 bg-dark text-light border-secondary">
                    <img src="./../assets/images/help/controlWeapon.png" class="card-img-top" alt="Control Weapon">
                    <div class="card-body">
                        <h5 class="card-title text-info" id="h5-controlweapon-title"></h5>
                        <p class="card-text" id="p-controlweapon-text"></p>
                    </div>
                </div>
            </div>

            <!-- colum 3 - round and fire -->
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card h-100 bg-dark text-light border-secondary">
                    <img src="./../assets/images/help/roundAndFire.png" class="card-img-top" alt="Round And Fire">
                    <div class="card-body">
                        <h5 class="card-title text-info" id="h5-roundandfire-title"></h5>
                        <p class="card-text" id="p-roundandfire-text"></p>
                    </div>
                </div>
            </div>

            <!-- colum 4 - degree aim -->
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card h-100 bg-dark text-light border-secondary">
                    <img src="./../assets/images/help/degreeAim.png" class="card-img-top" alt="Degree Aim">
                    <div class="card-body">
                        <h5 class="card-title text-info" id="h5-degreeaim-title"></h5>
                        <p class="card-text" id="p-degreeaim-text"></p>
                    </div>
                </div>
            </div>

        </div>

        <!-- row 3 -->
        <div class="row g-3 mb-3">

            <!-- colum 1 - debug setting-->
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card h-100 bg-dark text-light border-secondary">
                    <img src="./../assets/images/help/debugSetting.png" class="card-img-top" alt="Debug Settings">
                    <div class="card-body">
                        <h5 class="card-title text-info" id="h5-debugsetting-title"></h5>
                        <p class="card-text" id="p-debugsetting-text"></p>
                    </div>
                </div>
            </div>

            <!-- colum 2 - table fire -->
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card h-100 bg-dark text-light border-secondary">
                    <img src="./../assets/images/help/tableFire.png" class="card-img-top" alt="Table Fire">
                    <div class="card-body">
                        <h5 class="card-title text-info" id="h5-tablefire-title"></h5>
                        <p class="card-text" id="p-tablefire-text"></p>
                    </div>
                </div>
            </div>

            <!-- colum 3 - enemies list -->
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card h-100 bg-dark text-light border-secondary">
                    <img src="./../assets/images/help/enemyList.png" class="card-img-top" alt="Enemies List">
                    <div class="card-body">
                        <h5 class="card-title text-info" id="h5-enemylist-title"></h5>
                        <p class="card-text" id="p-enemylist-text"></p>
                    </div>
                </div>
            </div>

            <!-- colum 4 - keyboard -->
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card h-100 bg-dark text-light border-secondary">
                    <img src="./../assets/images/help/keyboard.png" class="card-img-top" alt="Keyboard Controls">
                    <div class="card-body">
                        <h5 class="card-title text-info" id="h5-keyboard-title"></h5>
                        <p class="card-text" id="p-keyboard-text"></p>
                    </div>
                </div>
            </div>

        </div>

        <!-- row 4: Keywords Dictionary -->
        <div class="row g-3 mb-5">
            <div class="col-12">
                <div class="card bg-dark text-light border-secondary">
                    <div class="card-body">
                        <h5 class="card-title text-info border-bottom border-secondary pb-2 mb-3" id="h5-keywords-title"></h5>
                        <div class="card-text" id="p-keywords-text"></div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    {{FOOTER}}

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            
            fetch('/api/content') // request json file
                .then(response => response.json())
                .then(data => {
                    document.getElementById("title-text").innerHTML = data.help.tabTitle;
                    document.getElementById("txt-titel").innerText = data.help.tabTitle;
                    document.getElementById("txt-subtitel").innerText = data.help.subtitel;

                    document.getElementById("h5-camp-title").innerText = data.help.h5CampTitle;
                    document.getElementById("p-camp-text").innerText = data.help.pCampText;
                    document.getElementById("h5-enemy-title").innerText = data.help.h5EnemyTitle;
                    document.getElementById("p-enemy-text").innerText = data.help.pEnemyText;
                    document.getElementById("h5-chatbox-title").innerText = data.help.h5ChatboxTitle;
                    document.getElementById("p-chatbox-text").innerText = data.help.pChatboxText;
                    document.getElementById("h5-chatboxsend-title").innerText = data.help.h5ChatboxsendTitle;
                    document.getElementById("p-chatboxsend-text").innerText = data.help.pChatboxsendText;
                    document.getElementById("h5-controlpanelfull-title").innerText = data.help.h5ControlpanelfullTitle;
                    document.getElementById("p-controlpanelfull-text").innerText = data.help.pControlpanelfullText;
                    document.getElementById("h5-controlweapon-title").innerText = data.help.h5ControlweaponTitle;
                    document.getElementById("p-controlweapon-text").innerText = data.help.pControlweaponText;
                    document.getElementById("h5-roundandfire-title").innerText = data.help.h5RoundandfireTitle;
                    document.getElementById("p-roundandfire-text").innerText = data.help.pRoundandfireText;
                    document.getElementById("h5-degreeaim-title").innerText = data.help.h5DegreeaimTitle;
                    document.getElementById("p-degreeaim-text").innerText = data.help.pDegreeaimText;
                    document.getElementById("h5-debugsetting-title").innerText = data.help.h5DebugsettingTitle;
                    document.getElementById("p-debugsetting-text").innerText = data.help.pDebugsettingText;
                    document.getElementById("h5-tablefire-title").innerText = data.help.h5TablefireTitle;
                    document.getElementById("p-tablefire-text").innerText = data.help.pTablefireText;
                    document.getElementById("h5-enemylist-title").innerText = data.help.h5EnemylistTitle;
                    document.getElementById("p-enemylist-text").innerText = data.help.pEnemylistText;
                    document.getElementById("h5-keyboard-title").innerText = data.help.h5KeyboardTitle;
                    document.getElementById("p-keyboard-text").innerText = data.help.pKeyboardText;
                    document.getElementById("h5-keywords-title").innerText = data.help.h5KeywordsTitle;
                    document.getElementById("p-keywords-text").innerHTML = data.help.pKeywordsText;
                    
                })
                .catch(error => console.error("Error loading JSON data:", error));
        });
    </script>

</body>
</html>