/* custom for range input (slider) */
.form-range::-webkit-slider-thumb {
    background-color: #dc3545; 
}
.form-range::-webkit-slider-thumb:active {
    background-color: #f1c225; 
}
.form-range::-webkit-slider-runnable-track {
    background-color: #495057; 
}

#canvas-container{
    min-height: 450px; 
    background-color: black;
}

.chat-history-container{
    overflow-y: auto; 
    font-family: monospace;
}

.custom-height {
    height: 250px; 
}

/* for canvas */
canvas { display: block; }

.enemy-icon-in-table {
    width: 24px; 
    height: 24px; 
    object-fit: contain;
}

.text-decoration-none {
    text-decoration: none;
}

/* scroll bar in chat box */
.chatbox-scroll-edit::-webkit-scrollbar {
    width: 8px;
}
.chatbox-scroll-edit::-webkit-scrollbar-track {
    background: #1a1a1a; 
    border-radius: 4px;
}
.chatbox-scroll-edit::-webkit-scrollbar-thumb {
    background: #198754;
    border-radius: 4px;
}
.chatbox-scroll-edit::-webkit-scrollbar-thumb:hover {
    background: #28a745; 

}