/* custom for range input (slider) */
.form-range::-webkit-slider-thumb {
    background-color: #dc3545; 
}
.form-range::-webkit-slider-thumb:active {
    background-color: #f1c225; 
}
.form-range::-webkit-slider-runnable-track {
    background-color: #495057; 
}

#canvas-container{
    min-height: 450px; 
    background-color: black;
}

/* for canvas */
canvas { display: block; }

.enemy-icon-in-table {
    width: 24px; 
    height: 24px; 
    object-fit: contain;
}